# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env files (bisa taruh .env kalau ada, tapi .env.local WAJIB)
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo